@use '../abstracts' as *;
// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.multi-step-form {
  display: flex;
  flex-direction: column;

  width: 100%;

  @include breakpoint(large) {
    flex-direction: row;

    min-height: $max-height-destop;
    max-width: $max-width-destop;

    padding: 1rem;
    padding-right: 0;

    background-color: var(--clr-neutral-100);
    border-radius: rem(15);
    box-shadow: 0px 25px 40px -20px hsla(0, 0%, 0%, 0.1);
  }
}
