// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.btn {
  cursor: pointer;
  padding: rem(12) rem(16);

  background-color: var(--clr-primary-700);

  border: none;
  border-radius: rem(4);

  &:hover {
    background-color: var(--clr-primary-600);
  }

  @include breakpoint(large) {
    padding: rem(15) rem(24);

    border-radius: rem(8);
  }

  &--confirm {
    padding: rem(12) rem(22);

    background-color: var(--clr-primary-400);

    &:hover {
      background-color: var(--clr-primary-500);
    }

    @include breakpoint(large) {
      padding: rem(15) rem(31);
    }
  }
  &--light {
    background-color: transparent;
    padding-inline: 0;
    &:hover {
      color: var(--clr-primary-700);
      background-color: transparent;
    }
  }
}
