// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.btn {
  padding: rem(12) rem(16);

  background-color: var(--clr-primary-700);

  border: none;
  border-radius: rem(4);

  @include breakpoint(large) {
    padding: rem(15) rem(24);

    border-radius: rem(8);
  }

  &--confirm {
    padding: rem(12) rem(22);

    background-color: var(--clr-primary-400);

    @include breakpoint(large) {
      padding: rem(15) rem(31);
    }
  }
  &--light {
    padding: 0;

    background-color: transparent;
  }
}
