@use '../abstracts' as *;

.personal-info {
  display: grid;
  gap: 1rem;

  @include breakpoint(large) {
    gap: rem(24);
  }

  & .form-control {
    display: grid;
    gap: rem(3);
  }

  & input {
    padding: rem(11) 1rem;

    border: 1px solid var(--clr-neutral-400);
    border-radius: rem(4);

    &:focus {
      outline: none;
      border-color: var(--clr-primary-400);
    }
  }
}
