@use '../abstracts' as *;

.plan-label {
  display: flex;
  align-items: flex-start;

  padding: rem(16);

  border: 1px var(--clr-neutral-400) solid;
  border-radius: rem(8);

  cursor: pointer;

  @include breakpoint(large) {
    flex-direction: column;
    gap: rem(40);
  }

  &:hover {
    border: 1px var(--clr-primary-400) solid;
  }

  input:checked + & {
    border-color: var(--clr-primary-400);
    background-color: var(--clr-neutral-200);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(7);

    margin-left: rem(14);

    @include breakpoint(large) {
      margin-left: 0;
    }
  }

  &__tips {
    transition: height 0.2s, opacity 0.2s;
    height: 0.75rem;
    opacity: 1;

    &--hide {
      visibility: hidden;
      opacity: 0;
      height: 0;
    }
  }
}
