@use '../abstracts' as *;

.step-list {
  position: relative;

  min-width: 30%;

  @include breakpoint(large) {
    background-image: url('../../../assets/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    min-height: rem(100);

    margin-inline: auto;

    @include breakpoint(large) {
      gap: 2rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      width: calc(100% - 4rem);

      margin-top: rem(40);
    }
  }

  &:before {
    content: '';

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -70%;

    background-image: url('../../../assets/images/bg-sidebar-mobile.svg');
    background-size: cover;

    z-index: -1;
    @include breakpoint(large) {
      content: none;
    }
  }
}
