@use '../abstracts' as *;

$gap: 9;

@include breakpoint(large) {
  $gap: 14;
}

.thanks {
  align-items: center;
  justify-content: center;
  gap: rem($gap);

  min-height: 70vh;

  padding: rem(32) rem(24);

  @include breakpoint(large) {
    min-height: 0;

    padding: 0;
  }

  &__img {
    margin-bottom: rem(24 - $gap);
    @include breakpoint(large) {
      margin-bottom: rem(32 - $gap);
    }
  }

  &__text {
    text-align: center;
  }
}
