/**
 * Basic typography style for copy text
 */
@use '../abstracts/' as *;

body {
  color: var(--clr-neutral-500);
  font-family: $text-font;
  font-size: var(--fs-sm-600);
  font-weight: var(--fw-light);
}

.h1 {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-700);
  font-size: var(--fs-sm-700);

  @include breakpoint(large) {
    font-size: var(--fs-lg-700);
    line-height: 1;
  }
}

.step-item {
  font-weight: var(--fw-bold);

  &__step {
    font-size: var(--fs-lg-200);
    font-weight: var(--fw-light);
    color: var(--clr-primary-300);
  }

  &__description {
    color: var(--clr-neutral-100);
    font-size: var(--fs-lg-300);
  }

  &__number {
    color: var(--clr-neutral-100);

    &--active {
      color: var(--clr-primary-700);
    }
  }
}

.custom-form {
  & label {
    font-size: var(--fs-sm-300);
    color: var(--clr-primary-700);

    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }
  }

  & input {
    font-size: var(--fs-sm-500);
    font-weight: var(--fw-normal);
    color: var(--clr-primary-700);

    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }

    &::placeholder {
      color: var(--clr-neutral-500);
      @include breakpoint(large) {
        font-size: var(--fs-lg-400);
      }
    }
  }
}

.personal-info {
  & .text-error {
    font-size: var(--fs-sm-400);
    color: var(--clr-primary-800);
    font-weight: var(--fw-normal);

    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }
  }
}

.btn {
  color: var(--clr-neutral-100);
  font-size: var(--fs-sm-400);
  font-weight: var(--fw-normal);

  @include breakpoint(large) {
    font-size: var(--fs-lg-400);
  }

  &--light {
    color: var(--clr-neutral-500);
  }
}

.select-plan {
  &__switch-controler label {
    font-size: var(--fs-sm-400);
    font-weight: var(--fw-normal);

    transition: color 0.2s;

    &.inactive {
      color: var(--clr-neutral-500);
    }

    @include breakpoint(large) {
      font-weight: var(--fw-bold);
    }
  }
}

.plan-label {
  &__text {
    line-height: 1;
  }

  &__h2 {
    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }
  }
  &__subtitle {
    color: var(--clr-neutral-500);
    font-size: var(--fs-sm-400);
  }

  &__tips {
    @include breakpoint(large) {
      font-size: var(--fs-lg-200);
    }
  }
}

.addon-item {
  &__h2 {
    font-size: var(--fs-sm-400);
    font-weight: var(--fw-normal);

    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }
  }

  &__description {
    font-size: var(--fs-sm-300);
    font-weight: var(--fw-light);
    color: var(--clr-neutral-500);

    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }
  }

  &__price {
    color: var(--clr-primary-400);

    @include breakpoint(large) {
      font-size: var(--fs-lg-400);
    }
  }
}

.summary {
  font-size: var(--fs-sm-400);

  &__plan {
    font-weight: var(--fw-normal);
    color: var(--clr-primary-700);
    font-size: var(--fs-lg-400);

    &-value {
      font-weight: var(--fw-bold);
      color: var(--clr-primary-700);

      @include breakpoint(large) {
        font-size: var(--fs-lg-400);
      }
    }
  }

  &__plan-link {
    text-decoration: underline;

    @media (hover: hover) {
      &:hover {
        color: var(--clr-primary-400);
      }
    }
  }

  &__addon-value {
    color: var(--clr-primary-700);
  }

  &__total-value {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);

    @include breakpoint(large) {
      font-size: var(--fs-lg-600);
    }
  }
}
