// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$colors: (
  primary: (
    200: hsl(213, 96%, 18%),
    300: hsl(243, 100%, 62%),
    800: hsl(228, 100%, 84%),
    700: hsl(206, 94%, 87%),
    500: hsl(354, 84%, 57%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(231, 100%, 99%),
    300: hsl(217, 100%, 97%),
    400: hsl(229, 24%, 87%),
    500: hsl(231, 11%, 63%),
  ),
);

:root {
  /// Build css custom variables for colors
  @each $color-type, $shades in $colors {
    @each $shade, $color in $shades {
      --clr-#{$color-type}-#{$shade}: #{$color};
    }
  }
}
