@use './mixins' as *;
@use './functions' as *;

$scale: (
  sm: (
    300: rem(12),
    400: rem(14),
    500: rem(15),
    600: rem(16),
    700: rem(24),
  ),
  lg: (
    200: rem(12),
    300: rem(14),
    400: rem(16),
    600: rem(20),
    700: rem(32),
  ),
);

$weights: (
  light: 400,
  normal: 500,
  bold: 700,
);

:root {
  /// Build css custom variables for font-size
  /// It integer a media query for each font (mobile-first)
  @each $screen-size, $font-size in $scale {
    @each $size, $value in $font-size {
      --fs-#{$screen-size}-#{$size}: #{$value};
    }
  }

  @each $name, $value in $weights {
    --fw-#{$name}: #{$value};
  }
}
